// Base: contained within this file are all your resets, variables, mixins, and any utility classes.

$dark-grey: #2b2d42;
$grey: #8d99ae;
$light-grey: #edf2f4;
$dark-red: #7f1028;
$light-red: #ad646d;
$white: #ffffff;

$ff: Helvetica;
